<div class="page-title" style="background-image: url('./assets/img/background02.jpg');">
  <div class="inner">
  </div> <!-- end .inner -->
</div>
<div class="section boxed-section light">
  <div class="inner">
      <div class="container">
          <div class="box text-center">
              <div class="error-text">
                <img src="./assets/img/404.png" alt="404" class="img-responsive center-block">
                <h3>PAGE NOT FOUND</h3>
                <h3><small>&nbsp;</small></h3>
                <a [routerLink]="['']" routerLinkActive="active" class="button">HOME PAGE</a>
              </div> <!-- end .error-text -->
            </div> <!-- end .box -->
      </div> <!-- end .container -->
  </div> <!-- end .inner -->
</div> <!-- end .section -->