<div id="stocks_list_container" class="page-container">
    <h1 class="page-title">Stocks</h1>
    <div class="row">
        <div class="col-md-8">
            <mat-table #table [dataSource]="dataSource" matSort class="table-black-theme">
                <ng-container matColumnDef="Stock">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Stocks </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Stock}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Symbol">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Symbol}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="LatestPrice">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> LatestPrice </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.LatestPrice}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Popularity">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Popularity </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Popularity}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selStock(row)"></mat-row>
            </mat-table>
        </div>
        <div class="col-md-4">
            <div class="card-container normal-padding-right">
                <div class="card-black-theme card">
                    <p class="card-title">{{selStockData.Stock}}</p>
                    <p class="stock-price text-green">{{selStockData.LatestPrice}}</p>
                    <p class="stock-percentage" [ngClass]="{'text-green': parseFloat(selStockData.PercentChange)>=0,  'text-red': parseFloat(selStockData.PercentChange)<0}">{{selStockData.PercentChange}}</p>
                    <p class="slide-toggle-container normal-margin-top">
                        Daily
                        <mat-slide-toggle class="slide-toggle-green-theme"></mat-slide-toggle>
                    </p>
                    <p class="slide-toggle-container">
                        Hourly
                        <mat-slide-toggle class="slide-toggle-green-theme"></mat-slide-toggle>
                    </p>
                    <p class="slide-toggle-container">
                        Minute by Minute
                        <mat-slide-toggle class="slide-toggle-green-theme"></mat-slide-toggle>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right lg-margin-top lg-margin-right">
        <button mat-stroked-button class="green-dot-button" (click)="newAgent()">New Agent
            <mat-icon>add_circle</mat-icon>
        </button>
    </div>
</div>