<div id="crypto_agent_container" class="page-container">
	<h1 class="page-title">{{model.Name}} - {{model.data}}</h1>
	<mat-tab-group class="tab-group-black-theme">
		<mat-tab label="Train">
			<div class="card-container row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6 display-flex">
							<div class="card-black-theme card">
								<p class="card-title">Input Variables</p>
								<p class="slide-toggle-container normal-margin-top">
									#Timestamp
									<mat-slide-toggle [checked]="settings.time==='Continuous'" class="slide-toggle-green-theme"></mat-slide-toggle>
								</p>
								<p class="slide-toggle-container">
									#Open
									<mat-slide-toggle [checked]="settings.open==='Continuous'" class="slide-toggle-green-theme"></mat-slide-toggle>
								</p>
								<p class="slide-toggle-container">
									#High
									<mat-slide-toggle [checked]="settings.high==='Continuous'" class="slide-toggle-green-theme"></mat-slide-toggle>
								</p>
								<p class="slide-toggle-container">
									#Low
									<mat-slide-toggle [checked]="settings.low==='Continuous'" class="slide-toggle-green-theme"></mat-slide-toggle>
								</p>
								<p class="slide-toggle-container">
									#Close
									<mat-slide-toggle [checked]="settings.close==='Continuous'" class="slide-toggle-green-theme"></mat-slide-toggle>
								</p>
								<p class="slide-toggle-container">
									#Volume
									<mat-slide-toggle [checked]="settings.volume==='Continuous'" class="slide-toggle-green-theme"></mat-slide-toggle>
								</p>
							</div>
						</div>
						<div class="col-md-6 display-flex">
							<div class="card-black-theme card">
								<p class="card-title">Prediction Column</p>
								<p class="slide-toggle-container normal-margin-top">
									Daily
									<mat-slide-toggle class="slide-toggle-green-theme"></mat-slide-toggle>
								</p>
								<p class="slide-toggle-container">
									Hourly
									<mat-slide-toggle class="slide-toggle-green-theme"></mat-slide-toggle>
								</p>
								<p class="slide-toggle-container">
									Minute by Minute
									<mat-slide-toggle class="slide-toggle-green-theme"></mat-slide-toggle>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card-black-theme card with-action-btn">
						<p class="card-title">Settings</p>
						<p class="slide-toggle-container normal-margin-top">
							Time Series
							<mat-slide-toggle class="slide-toggle-green-theme"></mat-slide-toggle>
						</p>
						<p class="input-container">
							Time Steps to predict into the future
							<input type="text" [(ngModel)]="settings.future_time_step">
						</p>
						<p class="input-container">
							Time Steps to conside in the past
							<input type="text" [(ngModel)]="settings.past_time_step">
						</p>
						<p class="input-container">
							Total Weeks of data for training
							<input type="text" [(ngModel)]="settings.total_weeks_training">
						</p>
						<button mat-stroked-button class="green-dot-button btn_action" (click)="train()">Train
							<mat-icon>add_circle</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Test">
			<p>Test Content</p>
			<p>Test Content</p>
		</mat-tab>
		<mat-tab label="Run Agent">
			<p>Run Agent Content</p>
		</mat-tab>
	</mat-tab-group>
</div>