<app-header></app-header>
<div id="home_container" class="page-container">
    <h1 class="page-title">Artificial Intelligence</h1>
    <mat-table #table [dataSource]="dataSource" matSort class="table-black-theme">
        <ng-container matColumnDef="Agent">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Agent </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Agent}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CreatedAt">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.CreatedAt|date:'d/M/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Data">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Data}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Status}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="TrainingTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Training time </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.TrainingTime}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Accuracy">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Accuracy </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Accuracy}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    <div class="text-right lg-margin-top small-margin-right">
        <button mat-stroked-button class="green-dot-button" (click)="newAgent()">New Agent
            <mat-icon>add_circle</mat-icon>
        </button>
    </div>
</div>